*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(180deg, #E9E1CC, #EA9085);
}

.form_body{
    width: 400px;
    min-width: 300px;
    border-radius: 40px;
    /* border-top-left-radius: 50px;
    border-bottom-right-radius: 50px; */
    border: solid 3px #6E5773;
    margin: 10px;
}

.form_body img{
    width: 150px;
    display: block;
    margin: 20px auto;
}

.text_login{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    color: #6E5773;
    margin-bottom: 25px;
}

.form_body input{
    display: block;
    margin: auto;
    height: 40px;
    width: 75%;
    padding-left: 10px;
    color: #6E5773;
    border:2px solid;
    border-radius: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: transparent;
    font-size: 1rem;
    outline: none;
}

.form_body input[type="password"]{
    margin-top: 20px;
}

::placeholder{
    font-size: 1rem;
    color: #6E5773;
}

.form_body input:hover{
    transition: .5s;
    border: 1px solid #6E5773;
    color: #6E5773;
}

.form_body button{
    display: block;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 30px;
    height: 40px;
    width: 78%;
    background: transparent;
    color: #6E5773;
    border-radius: 100px;
    cursor: pointer;
    outline: none;
    border: 2px solid #6E5773;
    transition: all .5s ease;
}

.form_body button:hover{
    color: #d5dbdd;
    border: 2px solid #6E5773;
    background: linear-gradient(#6E5773, #6E5773);
}